<ion-view view-title="账户与安全" class="account-security">
    <ion-content class="account-security-content">
        <div style="background: #ffffff;" class="padding-top">
            <div class="list list-inset">
                <div class="login-title">
                    <h4 class="title padding-left">登录密码修改</h4>
                </div>
                <div id="user-info">
                    <form id="userForm" name="userForm" role="form">
                        <label class="item item-input">
                            <input type="password" placeholder="原登录密码"  required >
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="新登录密码"  required >
                        </label>
                    </form>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="button" style="background:#ee7300;color:#ffffff;width: 100px;">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div style="background: #ffffff;" class="padding-top margin-top-10">
            <div class="list list-inset">
                <div class="login-title">
                    <h4 class="title padding-left">支付密码修改</h4>
                </div>
                <div  class="user-info">
                    <form  name="userForm" role="form">
                        <label class="item item-input">
                            <input type="password" placeholder="原支付密码"  required >
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="新支付密码"  required >
                        </label>
                    </form>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="button" style="background:#ee7300;color:#ffffff;width: 100px;">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>