<ion-view view-title="联系我们" class="contact-us" hide-back-button="true">
    <ion-nav-buttons side="left">
        <a href="javascript:history.back(-1)" class="button button-icon icon ion-ios-arrow-thin-left" nav-direction="back"></a>
    </ion-nav-buttons>

    <ion-content class="contact-us-content">
        <div class="list">
            <div class="item item-divider" style="font-weight: bold">
                联系我们
            </div>
            <div class="item">
                全国热线：00334-95435-425
            </div>
        </div>
        <div class="list">
            <div class="item">
                邮箱地址：29480359@qq.com
            </div>
        </div>
    </ion-content>
</ion-view>
