<ion-view view-title="找回密码" class="forget-passward">
    <ion-content class="forget-passward-content login-content padding">
        <div class="list">
            <label class="login-title ">
                <h3 class="title padding">找回密码</h3>
            </label>

            <form name="userForm" id="userForm" role="form" novalidate="novalidate">

                <div class="user-list-item">
                    <ul>
                        <li>
                            <div class="user-list-item-li">
                                <img src="views/bangbang/img/name.jpg" width="30">
                                <span>  <input type="text" placeholder="请输入用户名" ng-model="user.username" name="userName"
                                               required></span>
                            </div>
                        </li>
                        <li>
                            <div class="user-list-item-li" >
                                <img src="views/bangbang/img/phone.jpg"  width="30">
                                <span>   <input type="tel" placeholder="请输入密码" ng-model="user.phone"
                                                name="phone" required></span>
                            </div>
                        </li>
                        <li>
                            <div class="user-list-item-li" style="border-bottom: 0px;">
                                <span>   <input type="text" placeholder="请输入验证码" required></span>
                                <button class="button button-small button-calm"  style="color: #ffffff;margin-right: 10px">
                                  获取验证码
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="padding-top">
                    <button class="button button-full" ui-sref="rest-password" style="background:#ee7300;color:#ffffff;border-radius: 5px;" >
                        下一步
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>