<ion-view view-title="浏览记录" class="recent-look">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-arrow-thin-left" ui-sref="tab.user" nav-direction="back"></a>
  </ion-nav-buttons>
  <ion-content class="recent-look-content cart-bg" direction="y" scrollbar-y="false">

      <!-- 商品列表 -->
      <div class="goods-list-panel">
        <div class="list">
          <div class="row time">
            <div class="col" style="color: #a5a6a6">
              2016-5-10 10:25:36
            </div>
          </div>
          <a class="item item-thumbnail-left">
            <img ng-if="!goodsItem.goodsimg" src="img/look.png">
            <h2>时尚婚纱定制白色，时尚婚纱定制白色，时尚婚纱定制白色，时尚婚纱定制白色...</h2>
            <p style="color:#e60012"> ￥500.000 </p>
            <div class="look-del"><i class="ion-ios-trash-outline"></i></div>
          </a>
          <div class="row time">
            <div class="col" style="color: #a5a6a6">
              2016-5-10 10:27:36
            </div>
          </div>
          <a class="item item-thumbnail-left">
            <img ng-if="!goodsItem.goodsimg" src="img/look.png">
            <h2>时尚婚纱定制白色，时尚婚纱定制白色，时尚婚纱定制白色，时尚婚纱定制白色...</h2>
            <p style="color:#e60012"> ￥500.000 </p>
            <div class="look-del"><i class="ion-ios-trash-outline"></i></div>
          </a>
          <div class="row time">
            <div class="col" style="color: #a5a6a6">
              2016-5-10 10:29:36
            </div>
          </div>
          <a class="item item-thumbnail-left">
            <img ng-if="!goodsItem.goodsimg" src="img/look.png">
            <h2>时尚婚纱定制白色，时尚婚纱定制白色，时尚婚纱定制白色，时尚婚纱定制白色...</h2>
            <p style="color:#e60012"> ￥500.000 </p>
            <div class="look-del"><i class="ion-ios-trash-outline"></i></div>
          </a>
        </div>
      </div>
  </ion-content>

</ion-view>

