<ion-view view-title="找回密码" class="forget-passward">
    <ion-content class="forget-passward-content login-content padding">
        <div class="list">
            <label class="login-title ">
                <h3 class="title padding">找回密码</h3>
            </label>

            <form name="userForm" id="userForm" role="form" novalidate="novalidate">

                <div class="user-list-item">
                    <ul>
                        <li>
                            <div class="user-list-item-li">
                                <img src="views/bangbang/img/password.jpg" width="30">
                                <span>  <input type="text" placeholder="请输入新密码" ng-model="user.password" name="password"
                                               required></span>
                            </div>
                        </li>
                        <li>
                            <div class="user-list-item-li"  style="border-bottom: 0px;">
                                <img src="views/bangbang/img/password2.jpg"  width="30">
                                <span>   <input type="text" placeholder="请再一次输入新密码" required></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="padding-top">
                    <button class="button button-full"  style="background:#ee7300;color:#ffffff;border-radius: 5px;" >
                        确定
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>